<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>KATARU WORKS</title>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"rel="stylesheet"

    <meta name="description" content="福岡を拠点に「思いをKATARU・思いにKATARU」をコンセプトに
    WEB制作を中心に活動している３児のママWEBデザイナーのポートフォリオサイトです。">
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
　　<link rel="icon" type="image/png" href="images/KWfavicon.png"
  </head>

  <body>

<header>
  <div id="home" class="big-bg">
   <div class="home-content wrapper">
  <div class="page-header wrapper">
     <h1><a href="#"><img class="logo"src="images/KATARU WORKS.png" alt=""></a></h1>


     <div class="hamburger">
   <span></span>
   <span></span>
   <span></span>
 </div>

 <nav class="globalMenuSp">
     <ul>
         <li><a href="#home">HOME</a></li>
         <li><a href="#about">ABOUT</a></li>
         <li><a href="#">WORKS</a></li>
         <li><a href="#service">SERVICE</a></li>
         <li><a href="#contact-title">CONTACT</a></li>
     </ul>
 </nav>


 </div>


       <h1 class="page-title">DESIGN & PLANNING</h1>
       <p>「想いをKATARU・想いにKATARU」をコンセプトに<br>
       福岡でHP制作とイベントの企画を中心に活動しております。</p>
       <a class="button" href="#">ご相談・お見積もりはこちら</a>
   </div><!-- /.home-content -->
　</div><!-- /#home -->
</header>


<main>

  <div class="about-content wrapper">

   <h2 id="about">ABOUT</h2>
  </div>

   <div class="about_kataru">
      <div class="kataru_works">
         <h3>KATARU WORKS</h3>
         <P>Design & Planning</p>
         <img src="images/about_kataruworks.png">
         <p>「KATARU WORKS」という屋号の「KATARU」は、

          <br><br>【語る】事柄や考えを伝える

          <br><br>【かたる】福岡の方言で「仲間に入る、一緒にする」
          <br><br>が由来となっております。
          <br>
          <br>WEB周りのお手伝いや、イベント出店などの企画を通して、忙しい個人・中小企業の経営者の方々の思いをお客様に伝え、
          一緒に作り上げていきたいという想いを込めています。
          </p>
      </div>

      <div class="me">
        <h3>AYUMI KONDO</h3>
        <p>Designer & Event Planner</p>
        <img src="images/about_ayumikondo.png">
        <p>Web制作と催事企画を中心にフリーランスで活動しております。
        <br>福岡在住、３児のママです。
        <br><br>
      【経歴】
      <br>
      伝習館高等学校卒
      <br>
      ▼
       <br>
       北九州市立大学卒
       <br>
       ▼
        <br>
       某アパレル企業就職
       <br>
       ▼
        <br>
       某経営コンサルタント会社勤務
       <br>
       ▼
       <br>
       某アパレル企業転職
       <br>
　　　　▼
　　　　<br>
       Web制作と催事企画事業展開

       </p>
      </div>

      <div class="skill">
        <h3>SKILL</h3>
        <p>Web skill & Marketing</p>
        <img src="images/about_skill.png">
        <p>【Web Skill】
          <br>・Photoshop
          <br>・WordPress
          <br>・HTML/CSS
          <br>・レスポンシブ
          <br>・JavaScript(j Query)勉強中
          <br><br><br><br>
          これまでの経歴やコネクションを活かし、細やかなヒアリングと競合調査の徹底で
          ユーザー様に喜んでいただけるサービスを心掛けております。</p>
      </div>
  </div><!-- /.about-content -->



    <div class="design-content wrapper">
     <h2 id="service">SERVICE</h2>
        <p>Design</p>
    </div>

     <div class="design">
        <div class="paper">
          <img src="images/design_paper.png">
           <h3>【印刷物】</h3>
           <P></p>

           <p>・オーダー名刺、ショップカード
             <br>・ウェディングペーパーアイテム
              <br>　(招待状/席次表/席札など)

              <br>・販促用のチラシ、DM、ポイントカード
             <br>・その他
            </p>
        </div>

        <div class="bunner">
          <img src="images/design_bunner.png">
          <h3>【バナー・ヘッダーデザイン】</h3>
          <p></p>

          <p>・広告用バナー
           <br>・各種SNSヘッダー
            <br>　（Twitter/Facebook/Instagramなど）
            <br>・ブログヘッダー
           <br>・その他
         </p>
        </div>

        <div class="web">
          <img src="images/design_web.png">
          <h3>【Web制作】</h3>
          <p></p>

          <p>・販促用のランディングページ制作
            <br>・WordPressホームページ制作
            <br>・LPデザイン
            <br>・HTML/CSSコーディング
              <br>・その他
          </p>
          <div class="portfolio">

              <a href="" class="button3">制作物一覧はこちら
              <i class="fas fa-angle-right my-blue fa-lg fa-fw"></i></a>
          </div>
        </div>
    </div><!-- /.design-content -->


        <div class="planning-content wrapper">
         <h2 class="planning">SERVICE</h2>
            <p>Event Planning</p>
        </div>

         <div class="planning">
            <div class="handmade">
                       <img src="images/planning_handmade.png">
               <h3>【ハンドメイド出店】</h3>
               <P></p>

               <p>ご自身のハンドメイド作品の出店をしませんか？
                 <br>商業施設などの催事スペース
                  <br>空きスペースを利用した
                  <br>販促企画・催事企画の立案
                 <br>出店のご紹介・お手伝いを致します。
                </p>
            </div>

            <div class="fair">
              <img src="images/planning_fair.png">

              <h3>【フェア・物産展】</h3>
              <p></p>
              <p>ご自身の店舗以外の販路で出店してみませんか？
               <br>商業施設などの催事スペース
               <br>空きスペースを利用した
               <br>〇〇フェア・〇〇物産展などの
               <br>企画立案と運営のお手伝いを致します。
             </p>
            </div>

            <div class="development">
                  <img src="images/planning_devlopment.png">
              <h3>【商品開発・販路開発支援】</h3>
              <p></p>

              <p>６次産業化の商品開発・販路開発の支援を致します。
                <br>
                <br>市町村などの行政機関との商品開発・販路開発の支援を致します。
              </p>
            </div>
        </div><!-- /.planning-content -->





  <div id="contact" class="contact-bg">
   <div class="contact-content wrapper">
    <h2 id="contact-title">REACH OUT TO ME！</h2>


    <div class="contact">
        <div class="design_contact">
           <a class="twitter" href="https://twitter.com/akoako83191227" ><i class="fab fa-twitter-square fa-fw"></i>Twitter</a>
           <h3>デザイン・HP制作のお問合せ</h3>
           <p>デザイン・HP制作のお問合せはTwitterのDMよりお問合せくださいませ。</p>
         </div>

         <div class="planning_contact">
           <a href="" class="FB"><i class="fab fa-facebook fa-fw"></i>Facebook</a>
           <h3>催事出店・販路相談のお問合せ</h3>
           <p>催事出店・販路相談のお問合せはFacebookページをご覧くださいませ。</p>
         </div>

         <div class="web_contact">
             <p>＼無料相談、随時受付中／</p>
             <a href="" class="button2">
             <i class="far fa-envelope fa-lg fa-fw"></i>WEBでお問合せ
             <i class="fas fa-angle-right my-blue fa-lg fa-fw"></i></a>
         </div>

   </div>
  </div><!-- /.contact-content -->
  </div><!-- /#contact -->


</main>
<footer>
  <div class="wrapper">
  <p><small>&copy;2020 KATARU WORKS</small></p>
  </div>
</footer>
</body>
<script src="humberger.js"></script>

</html>
