@@charset "UTF-8";
/*共通部分
----------------------*/
html{
  font-size: 100%;

}
body{
font-family: 'Noto Sans', sans-serif;
line-height: 1.7;
color: #432;

}
a{
  text-decoration: none;
}
img{
  max-width: 100%;

}

/* 大きな背景画像　*/
.big-bg{
  background-size: cover;
  background-position: center top;
  background-image: url(images/big_bg.png);
  min-height: 100vh;
}

/*header
---------------------*/
.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;

}
.logo{
  width: 100px;
  margin-top: 10px;
}

.globalMenuSp {
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-top: 25px;


}
.globalMenuSp ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.globalMenuSp li{
  margin-left: 36px;
  font-family: 'Hammersmith One', sans-serif;
  font-family: 'Noto Sans', sans-serif;
}
.globalMenuSp a{
  color: #333333;

}
.globalMenuSp a:hover{
  color: #ffffff;
}

.page-header{
  display: flex;
  justify-content: space-between;
}



/* HOME
------------------------*/
.home-content{
  text-align: center;
margin-top: 10%
}
.home-content p{
  font-size: 1rem;
  margin:40px 0 80px 0;
  color:#ffffff;
  text-shadow: 1px 1px 2px #000000;
}
/*見出し*/
.page-title{
  font-family:sans-serif;
  font-size:2.5rem;
  color:#ffffff;
  text-shadow: 1px 1px 2px #000000;
}
/*ボタン*/
.button{
  font-size:16px ;
  color:#ffffff;
  border-radius: 5px;
  border-style: solid ;
  background:#fcb3c0 ;
  border-color:#ffffff ;
  padding: 14px 36px ;

}
.button:hover{
  color: #b7b9e4;
  border-color: #b7b9e4;
  background:#ffffff ;

}



/*　ABOUT
-----------------------------*/
.about-content{
text-align: center;

}
.about-content h2{
  color: #364952;
  font-size: 1.5rem;
}
#about{
  text-align: center;
  margin-top: 3.125rem;
}


.about_kataru{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

.kataru_works{
margin: 30px 10px 60px 10px;
border-style: solid;
border-radius: 5px;
border-width: 2px;
border-color: #b0d7e6;
text-align: center;
  height: 850px;
  width: 310px;
}
.kataru_works h3{
  margin-top:18px ;
}
.kataru_works p{
  font-size: 14px;
  text-align: center;
  padding: 0 18px;
}

.me{
  margin: 30px 10px 60px 10px;
border-style: solid;
border-radius: 5px;
border-width: 2px;
border-color: #b0d7e6;
text-align: center;
  height:850px;
  width: 310px;
}
.me h3{
  margin-top:18px;
}
.me p{
  font-size: 14px;
  padding: 0 18px;
}

.skill{
  margin: 30px 10px 60px 10px;
border-style: solid;
border-radius: 5px;
border-width: 2px;
border-color: #b0d7e6;
text-align: center;
  height: 850px;
  width: 310px;
}
.skill h3{
  margin-top:18px;
}
.skill p{
  font-size: 14px;
  padding: 0 18px;
}


/* DesignService
------------------------------*/

.design-content{
text-align: center;

}
.designer-content h2{
  color: #364952;
  font-size: 1.5rem;
}
#service{
  margin-top: 3.125rem;
}
.design-content p{
  color: #b7b9e4;
  font-size: 0.875rem;
  padding: 0 18px;
}

.design{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}

.paper{
  margin: 30px 10px 60px 10px;
text-align: center;
  height: auto;
  width: 310px;
}
.paper h3{
  margin:18px ;
}
.paper p{
  font-size: 14px;
  text-align: left;
  padding: 0 18px;
}

.bunner{
  margin: 30px 10px 60px 10px;
text-align: center;
  height: auto;
  width: 310px;
}
.bunner h3{
  margin:18px;
}
.bunner p{
  font-size: 14px;
  padding: 0 18px;
  text-align: left;
}

.web{
  margin: 30px 10px 60px 10px;

text-align: center;
  height: auto;
  width: 310px;
}
.web h3{
  margin:18px;
}
.web p{
  font-size: 14px;
  padding: 0 18px;
  text-align: left;
}
.portfolio{
margin: 80px 10px 60px 10px;
height: auto;
width: 310px;
}

.button3{
  color: #ffffff;
  background:#b7b9e4;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #ffffff;
  text-align: center;
  padding: 14px 36px;
}
.button3:hover{
  color: #b7b9e4;
  border-color: #b7b9e4;
  background:#ffffff ;

}
/*PlanningService
--------------------------*/

.planning-content{
text-align: center;

}
.planning-content h2{
  color: #364952;
  font-size: 1.5rem;
}
.planning{
  margin-top: 3.125rem;
}
.planning-content p{
  color: #b7b9e4;
  font-size: 0.875rem;
  padding: 0 18px;
}

.planning{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.handmade{
  margin: 30px 10px 60px 10px;

text-align: center;
  height: auto;
  width: 310px;
}
.handmade h3{
  margin:18px ;
}
.handmade p{
  font-size: 14px;
  text-align: left;
  padding: 0 18px;
}

.fair{
  margin: 30px 10px 60px 10px;
  text-align: center;
  height: auto;
  width: 310px;
}
.fair h3{
  margin:18px;
}
.fair p{
  font-size: 14px;
  padding: 0 18px;
  text-align: left;
}

.development{
  margin: 30px 10px 60px 10px;
  text-align: center;
  height: auto;
  width: 310px;
}
.development h3{
  margin:18px;
}
.development p{
  font-size: 14px;
  padding: 0 18px;
  text-align: left;
}
/* お問合せ
---------------------------*/
.contact-content{
text-align: center;

}
.contact-content h3{
font-size: 1rem;
margin-top: 3rem;
}

.contact-content p{
  font-size: 0.875rem;
  padding: 0 18px;

}
.contact-content a{
  color: #ffffff;
}

.contact{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;


}
.design_contact{
  margin: 30px 10px 60px 10px;
  height: auto;
  width: 310px;

}
.twitter{
  border-radius: 50px;
  border-style: solid ;
  background:#fcb3c0 ;
  border-color:#ffffff ;
  padding: 14px 36px ;
}
.twitter:hover{
  color: #b7b9e4;
  border-color: #b7b9e4;
  background:#ffffff ;

}
.design_contact h3{
  margin-top:1.25rem;
}

.planning_contact{
  margin: 30px 10px 60px 10px;
  height: auto;
  width: 310px;
}
.FB{
  border-radius: 50px;
  border-style: solid ;
  background:#fcb3c0  ;
  border-color:#ffffff ;
  padding: 14px 36px ;
}
.FB:hover{
  color: #b7b9e4;
  border-color: #b7b9e4;
  background:#ffffff ;

}
.planning_contact h3{
  margin-top:1.25rem;
}


.web_contact{
margin: 0px 10px 60px 10px;
height: auto;
width: 310px;
}
.button2{
  background:#b7b9e4;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #ffffff;
  text-align: center;
  padding: 10px 20px;
}
.button2:hover{
  color: #b7b9e4;
  border-color: #b7b9e4;
  background:#ffffff ;

}

.web_contact p{
  font-size: 14px;
  padding:  10px;
}


/*お問合せ見出し*/
#contact-title{
  font-family: sans-serif;
  font-size: 1.5rem;
  color:#ffffff;
  text-shadow: 1px 1px 2px #000000;
  margin-bottom: 3.23rem;
  padding-top: 3.25rem;
}
/* お問合せ背景画像　*/
.contact-bg{
background-size: cover;
  height: auto;
  width: 100%;
}
#contact{
  background-image: url(images/big_bg.png);

}
#contact .contact-cotent{
  margin: 50px 20px 50px 0;
}



/*　フッター
------------------------------*/
footer{
  background-color:#f7d7dc;
  text-align: center;
  padding:26px  0;

}
footer p{
  color: ;
  font-size: 0.875rem;
}









/*モバイル版
------------------------*/
@media (max-width:600px){
  .page-title{
    font-size: 2.5rem;
  }
  /*HEADER*/
  .logo{
  width: 80px;
  margin: 0;
  padding: 0;

  }
.globalMenuSp ul{
  display: block;
}
/*ハンバーガーボタン*/

.hamburger {
display : block;
position: fixed;
z-index : 3;
right : 13px;
top   : 12px;
width : 42px;
height: 42px;
cursor: pointer;
text-align: center;
}
.hamburger span {
display : block;
position: absolute;
width   : 30px;
height  : 2px ;
left    : 6px;
background : #432;
-webkit-transition: 0.3s ease-in-out;
-moz-transition   : 0.3s ease-in-out;
transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
top: 10px;
}
.hamburger span:nth-child(2) {
top: 20px;
}
.hamburger span:nth-child(3) {
top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
top : 16px;
left: 6px;
background :#fff;
-webkit-transform: rotate(-45deg);
-moz-transform   : rotate(-45deg);
transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
top: 16px;
background :#fff;
-webkit-transform: rotate(45deg);
-moz-transform   : rotate(45deg);
transform        : rotate(45deg);
}

nav.globalMenuSp {
position: fixed;
z-index : 2;
top  : 0;
left : 0;
color: #fff;
background: rgba(0,0,0,0.7);
text-align: center;
width: 100%;
opacity: 0;
transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
margin: 0 auto;
padding: 0;
width: 100%;
}

nav.globalMenuSp ul li {
list-style-type: none;
padding: 0;
width: 100%;
transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
background :#ddd;
}

nav.globalMenuSp ul li a {
display: block;
color: #fff;
padding: 1em 0;
text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
opacity: 100;

}

  /*HOME*/
  .home-content{
    margin-top: ;
  }
  .page-header{

    padding: 0;
    margin: 0;

  }
.home-content p{
  font-size: 1rem;
}


  /* contact */
#contact .contact-content{
    flex-direction: column;
    align-items: center;

  }

  /*制作物一覧はこちらボタン */
